h1{font-family: 'Satisfy', cursive;}
body{
  background-image: linear-gradient(to left,red,purple, blue);
  font-family: 'Satisfy', cursive;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

#myhr1{
   border: 5Px solid rgb(255, 255, 255);
  border-radius: 5px;
}
#myhr2{
   border: 5Px solid rgb(0, 0, 0);
  border-radius: 5px;
}
